<launch>
  <arg name="x_pos" default="2.892220"/>
  <arg name="y_pos" default="6.993735"/>
  <arg name="z_pos" default="0.0"/>
  <arg name="yaw" default="-1.600000"/>


  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="world_name" default="$(find capstone_world)/worlds/competition_area.world" />
  </include>

  <param name="robot_description" command="$(find xacro)/xacro '$(find turtlebot5)/urdf/turtlebot5.urdf.xarco'" /> 

  <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" output="log"/>
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" output="log"/>


  <node name="urdf_spawner" pkg="gazebo_ros" type="spawn_model" respawn="false" output="log"
	args="-urdf -model turtlebot5 -x $(arg x_pos) -y $(arg y_pos) -z $(arg z_pos) -R 0 -P 0 -Y $(arg yaw) -param robot_description"/> 
  
  

  <rosparam command="load" file="$(find turtlebot5)/config/controller.yaml"/>  
  <node name="controller_spawner" pkg="controller_manager" type="spawner" respawn="false"
        output="log" args="position_joint_controller" />

</launch>